In [2]:
import pandas as pd
import numpy as np

Ejercicio 1

Importar los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, utilizando pandas y crear un dataframe 'emisiones' con los 4 ficheros.

In [20]:
emisiones_2016 = pd.read_csv('data/emisiones-2016.csv', sep = ';')
emisiones_2017 = pd.read_csv('data/emisiones-2017.csv', sep = ';')
emisiones_2018 = pd.read_csv('data/emisiones-2018.csv', sep = ';')
emisiones_2019 = pd.read_csv('data/emisiones-2019.csv', sep = ';')

emisiones = pd.concat([emisiones_2016, emisiones_2017, emisiones_2018, emisiones_2019])
emisiones

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

Ejercicio 2

Extraer solo las columnas 'ESTACION', 'MAGNITUD', 'ANO', 'MES' Y DIA (D1, D2, etc)

In [21]:
# extraemos las columnas
columnas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES']
columnas.extend([col for col in emisiones if col.startswith('D')])
emisiones = emisiones[columnas]
# Reestructuramos los valores de las columnas de los días para que aparezcan en una columna y el valor en otra.
emisiones = emisiones.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
emisiones

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

Ejercicio 3

Añadir una columna 'FECHA' a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.

In [23]:
# Primero eliminamos el caracter D del comienzo de la columna de los días
emisiones['DIA'] = emisiones.DIA.str.strip('D')
# Concatenamos las columnas del año, mes y día
emisiones['FECHA'] = emisiones.ANO.apply(str) + '/' + emisiones.MES.apply(str) + '/' + emisiones.DIA.apply(str)
# Convertimos la nueva columna al tipo fecha
emisiones['FECHA'] = pd.to_datetime(emisiones.FECHA, format='%Y/%m/%d', errors='coerce')
# Eliminar las filas con fechas no válidas
emisiones = emisiones.drop(emisiones[np.isnat(emisiones.FECHA)].index)
# Ordenar el el dataframe por estación, magnitud y fecha
emisiones.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])
emisiones

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
1              4         1  2016    2  01   12.0 2016-02-01
2              4         1  2016    3  01   11.0 2016-03-01
3              4         1  2016    4  01    8.0 2016-04-01
4              4         1  2016    5  01    7.0 2016-05-01
...          ...       ...   ...  ...  ..    ...        ...
225238        60        14  2019    5  31   85.0 2019-05-31
225240        60        14  2019    7  31   92.0 2019-07-31
225241        60        14  2019    8  31   98.0 2019-08-31
225243        60        14  2019   10  31   47.0 2019-10-31
225245        60        14  2019   12  31    4.0 2019-12-31

[221158 rows x 7 columns]

Ejercicio 4

Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.

In [25]:
emisiones.groupby('MAGNITUD').VALOR.describe()

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

Ejercicio 5 
Mostrar un resumen descriptivo para cada contaminante por distritos.

In [26]:
emisiones.groupby(['ESTACION', 'MAGNITUD']).VALOR.describe()

                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]